<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠画面</title>
</head>
<body>

<!-- 
　　勤怠画面を「registDuty.jsp」とし、勤怠管理一覧画面を「viewDuty.jsp」とする
　⇒勤怠画面には画面中央上部に現在日時、その下に出勤時刻と退勤時刻の欄をラベルで縦に並べて配置する。
 -->

<!-- 
１）勤怠画面を作成し、画面中央上部に現在日時、その下に出勤時刻と退勤時刻の欄をラベルで縦に並べて表示する。
　画面中央中部に社員IDのテキストボックス、画面中央下部に出勤ボタン、退勤ボタン、当月出退勤ボタンを配置する
　社員IDが未入力の場合は出勤ボタン、退勤ボタン、当月出退勤ボタンは非活性とする。
　社員IDが入力済の場合、出勤ボタン、当月出退勤ボタンを活性とする
　社員IDが入力済の場合、かつ出勤時刻が未設定の場合、退勤ボタンを非活性とする
　社員IDが入力済の場合、かつ出勤時刻が設定済の場合、退勤ボタンを活性とする
２）社員IDのテキストボックスに社員IDを入力し、出勤ボタンを押下すると、出勤時刻が表示されること
　　同様に退勤ボタンを押下すると、退勤時刻が表示されること

 -->


<!-- 
mysql> select * from  t_duty;
+-------------+------------+-----------+---------------------+
| EMPLOYEE_ID | DUTY_MONTH | DUTY_DATE | DUTY_WORK_TIME_FROM |
+-------------+------------+-----------+---------------------+
| 99          | 12         | 1         | 2022-12-01 10:12:00 |
+-------------+------------+-----------+---------------------+
1 row in set (0.00 sec)
 -->




</body>
</html>